<?xml version="1.0" ?>

<launch>
  <arg name="robot_name" default="iiwa"/>
	<arg name="model" />
	<param name="robot_description" command="$(find xacro)/xacro $(find kuka_iiwa_support)/urdf/kuka_iiwa.xacro" />
	<param name="use_gui" value="true"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_robot)/urdf.rviz" required="true" />

</launch>
