<?xml version="1.0"?>
<robot name="kuka_iiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">
   
  <xacro:include filename="$(find kuka_iiwa_support)/urdf/utilities.xacro" />
  <xacro:include filename="$(find kuka_iiwa_support)/urdf/kuka_iiwa_macro_ctrl.xacro"/>

  <xacro:arg name="robot_name" default="iiwa"/>

	<link name="world"/>
  <xacro:iiwa7 robot_name="$(arg robot_name)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:iiwa7>

</robot>
