<?xml version="1.0" ?>
<launch>

    <arg name="x" default="-3.06"/>
    <arg name="y" default="6.26"/>
    <arg name="z" default="0"/>
    <arg name="robot_name" default="kuka_iiwa"/>

    <!--  ******************** Robot Model ********************  -->
         <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
   </node>

    <param name="robot_description" textfile="$(find kuka_iiwa_support)/urdf/kuka_iiwa_ctrl_generated.urdf"/>
    

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)" respawn="false" output="screen"
        args="-urdf -model kuka_iiwa_ctrl -param robot_description -x $(arg x) -y $(arg y) -z $(arg z)">
    </node>

    <rosparam file="$(find kuka_iiwa_support)/conf/kuka_iiwa_controller.yaml" command="load"/>
	
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args=" joint_state_controller joint1_position_controller
		joint2_position_controller
		joint3_position_controller
		joint4_position_controller
		joint5_position_controller
		joint6_position_controller
		joint7_position_controller" /> 

  
</launch>
